<script>

  // https://davidwalsh.name/javascript-debounce-function
  function debounce(func, wait, immediate) {
    var timeout;
    return function() {
      var context = this, args = arguments;
      var later = function() {
        timeout = null;
        if (!immediate) func.apply(context, args);
      };
      var callNow = immediate && !timeout;
      clearTimeout(timeout);
      timeout = setTimeout(later, wait);
      if (callNow) func.apply(context, args);
    };
  };



  (function() {
    // enquire: media queries, but for javascript
    enquire.register("screen and (max-width: 768px)", {
      match : function() {
        // console.log('up to 768px wide')
      },
      unmatch : function() {
      }
    })
    .register("screen and (min-width: 769px)", {
      match : function() {
        // console.log('over 768px wide');
        var windowWidth = $(window).width(); // for resize function

        setTimeout(function(){
          var wiringHeights = $('.wiring__inner-wrapper').children().map(function() {
            return $(this).height();
          }).get();
          var maxWiringHeight = Math.max.apply(null, wiringHeights);
          $('.wiring__inner-wrapper').children().height(maxWiringHeight);

          var wirelessHeights = $('.wireless__inner-wrapper').children().map(function() {
            return $(this).height();
          }).get();
          var maxWirelessHeight = Math.max.apply(null, wirelessHeights);
          $('.wireless__inner-wrapper').children().height(maxWirelessHeight);

          var cloudHeights = $('.cloud__inner-wrapper').children().map(function() {
            return $(this).height();
          }).get();
          var maxcloudHeight = Math.max.apply(null, cloudHeights);
          $('.cloud__inner-wrapper').children().height(maxcloudHeight);
        },200);

        // on resize
        window.onresize = debounce(function(){
          window.onresize = function(){
            // actual resize? http://tinyurl.com/qaoajzu
            if ($(window).width() != windowWidth) {
              var wiringHeights = $('.wiring__inner-wrapper').children().map(function() {
                return $(this).height();
              }).get();
              var maxWiringHeight = Math.max.apply(null, wiringHeights);
              $('.wiring__inner-wrapper').children().height(maxWiringHeight);

              var wirelessHeights = $('.wireless__inner-wrapper').children().map(function() {
                return $(this).height();
              }).get();
              var maxWirelessHeight = Math.max.apply(null, wirelessHeights);
              $('.wireless__inner-wrapper').children().height(maxWirelessHeight);

              var cloudHeights = $('.cloud__inner-wrapper').children().map(function() {
                return $(this).height();
              }).get();
              var maxcloudHeight = Math.max.apply(null, cloudHeights);
              $('.cloud__inner-wrapper').children().height(maxcloudHeight);
            }
          };
        }, 250);

      },
      unmatch : function() {
      }
    });
  })();


</script>


