<script>
  (function() {


    // https://davidwalsh.name/javascript-debounce-function
    function debounce(func, wait, immediate) {
      var timeout;
      return function() {
        var context = this, args = arguments;
        var later = function() {
          timeout = null;
          if (!immediate) func.apply(context, args);
        };
        var callNow = immediate && !timeout;
        clearTimeout(timeout);
        timeout = setTimeout(later, wait);
        if (callNow) func.apply(context, args);
      };
    };


    var $gallery = $('.showcase__carousel').flickity({
      imagesLoaded: true,
      percentPosition: false,
      // prevNextButtons: false,
      pageDots: false,
      autoPlay: false,
      wrapAround: true,
      arrowShape: {
        x0: 20,
        x1: 60, y1: 45,
        x2: 65, y2: 40,
        x3: 30
      }
    });

    var $galleryStatus = $('.number');
    var flkty = $gallery.data('flickity');
    function updateStatus() {
      var cellNumber = flkty.selectedIndex + 1;
      $galleryStatus.text( cellNumber + '/' + flkty.cells.length );
    }
    updateStatus();
    $gallery.on( 'cellSelect', updateStatus );

    // enquire: media queries, but for javascript
    enquire.register("screen and (max-width: 768px)", {

      match : function() {
        console.log('up to 768px wide');

        var main = $('main');
        setTimeout(function(){
          $(main).fadeIn().removeClass('load').addClass('loaded');
        }, 250);
      },

      unmatch : function() {
      }

    })
    .register("screen and (min-width: 769px)", {

      match : function() {
        console.log('over 768px wide');
        var windowWidth = $(window).width(); // for resize function
        var elementHeights = $('.project-info__inner').map(function() {
          return $(this).height();
        }).get();
        console.log(elementHeights);
        var maxHeight = Math.max.apply(null, elementHeights);  // http://stackoverflow.com/questions/6781031/use-jquery-css-to-find-the-tallest-of-all-elements
        $('.project-info__inner').height(maxHeight);

        var main = $('main');
        setTimeout(function(){
          $(main).fadeIn().removeClass('load').addClass('loaded');
        }, 250);

        // on resize
        window.onresize = debounce(function(){
          window.onresize = function(){
            // actual resize? http://tinyurl.com/qaoajzu
            if ($(window).width() != windowWidth) {
              var main = $('main');
              $(main).removeClass('loaded').addClass('load');

              var elementHeights = $('.project-info__inner').map(function() {
                return $(this).height();
              }).get();
              console.log(elementHeights);
              var maxHeight = Math.max.apply(null, elementHeights);  // `Math.max takes a variable number of arguments, apply` is equivalent to passing each height as an argumentain
              $('.project-info__inner').height(maxHeight); // Set each height to the max height

              setTimeout(function(){
                $(main).fadeIn().removeClass('load').addClass('loaded');
              }, 250);
            }
          };
        }, 250);

      },

      unmatch : function() {
      }

    });

  })();
</script>



