@font-face {
    font-family: 'Maison Neue Medium';
    src: url('../fonts/MaisonNeueWEB-Medium.woff2') format('woff2'),
    url('../fonts/MaisonNeueWEB-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Noe Display';
    src: url('../fonts/NoeDisplayMedium.eot');
    src: url('../fonts/NoeDisplayMedium.woff') format('woff');
}


// visual grid
$visual-grid: true;
$visual-grid-color: yellow;
$visual-grid-index: front;
$visual-grid-opacity: 0.2;

// base
@import
  "node_modules/normalize.scss/normalize",
  "bourbon",
  "base/base", // includes grid-settings, which must be imported before neat
  "neat";

// modules
@import
  "modules/fonts",
  "modules/vars",
  "modules/common",
  "modules/visual-grid",
  "modules/dynamic-hero", // dynamically-sized
  "modules/flickity",
   "modules/utilities",
  "modules/footer",
  "modules/header",
  "modules/home",
  "modules/cloud",
  "modules/automation",
  "modules/about";

  body:before {
    display: none;
  }

  body.grid:before {
    display: block;
  }


