@import "neat-helpers";

// neat defaults
// $column: em(200);
// $gutter: 30px;
$grid-columns: 15;
$max-width: em(1020); // $l - see modules/visual-grid

// breakpoints

$s: em(100);
$m: em(667);
$l: em(769);
$xl: em(1180);
$xxl: em(1600);

$s-up: new-breakpoint(min-width $s 15);
$m-up: new-breakpoint(min-width $m 15);
$l-up: new-breakpoint(min-width $l 15);
$xl-up: new-breakpoint(min-width $xl 15);
