@import "neat-helpers";

// neat defaults
// $column: em(200);
// $gutter: 30px;
$grid-columns: 12;
$max-width: em(1000); // $l - see modules/visual-grid

// breakpoints

$s: em(100);
$m: em(667);
$l: em(769);
$xl: em(1200);
$xxl: em(1600);

$s-up: new-breakpoint(min-width $s 1);
$m-up: new-breakpoint(min-width $m 1);
$l-up: new-breakpoint(min-width $l 12);
$xl-up: new-breakpoint(min-width $xl 12);
