// Typography
$heading-font-family: 'Maison Neue Medium';
$base-font-family: 'Noe Display';

// Font Sizes
$base-font-size: 16px;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$about-blue: #d4effc;
$about-flesh: #eed9c9;
$auto-green: #bac8c8;
$cloud-peach: #efe4df;
$contact-flesh: #f1e2ce;
$footer-bg: #1c1c1c;
$footer-blue: #d4effc;
$gray-basic: #d2d2cb;
$gray-light: #f4f5f5;
$home-brown: #e1dfde;
$home-green: #cddac9;
$home-rouge: #cebcbb;
$lutron-orange: #e7c16f;
$project-green: #e2f0e7;
$text: rgba(0,0,0,0.8);
$theater-putty: #f0e1cf;
$theater-green: #bac8c8;
$theater-darkgreen: #f0f5df;
$work-green: #e2f0e7;

// Font Colors
$base-font-color: $text;
$action-color: $text;

// Border
$base-border-color: $text;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
