<!DOCTYPE html>
<html>

  {% include global/head.html %}

  <body class="{% if page.class %}{{ page.class }}{% endif %}">

    {% include global/header.html %}


      {{ content }}


    {% include global/footer.html %}


  <!-- JS -->
  <!-- inject:js -->
  <script src="/assets/javascript/index.js"></script>
  <!-- endinject -->

  </body>

  {% if page.class == 'cloud' %}
    {% include scripts_cloud.html %}
  {% endif %}

  {% if page.class == 'project' %}
    {% include scripts_project.html %}
  {% endif %}

  {% if page.class == 'contact' %}
    {% include scripts_contact.html %}
  {% endif %}

  {% if page.class == 'support' %}
    {% include scripts_support.html %}
  {% endif %}

</html>
