<!DOCTYPE html>
<html>

  {% include global/head.html %}

  <body class="{% if page.class %}{{ page.class }}{% endif %}">

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PCG73J"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {% include global/header.html %}


      {{ content }}


    {% include global/footer.html %}


  <!-- JS -->
  <!-- inject:js -->
  <script src="/assets/javascript/index.js"></script>
  <!-- endinject -->

  </body>

  {% if page.class == 'cloud' %}
    {% include scripts_cloud.html %}
  {% endif %}

  {% if page.class == 'automation' %}
    {% include scripts_automation.html %}
  {% endif %}

  {% if page.class == 'project' %}
    {% include scripts_project.html %}
  {% endif %}

  {% if page.class == 'contact' %}
    {% include scripts_contact.html %}
  {% endif %}

  {% if page.class == 'support' %}
    {% include scripts_support.html %}
  {% endif %}

  {% if page.class == 'lutron' %}
    {% include scripts_lutron.html %}
  {% endif %}

</html>
