<!DOCTYPE html>
<html>

  {% include global/head.html %}

  <body class="{% if page.class %}{{ page.class }}{% endif %}">

    {% include global/header.html %}


      <main class="load">

          <section class="showcase projects">
            <div class="showcase__carousel">
                {% for image in page.slides %}
                    <div class="gallery-cell">
                      <img
                        ix-path="{{ image.image_path }}"
                        ix-params='{
                          "fit": "max",
                          "auto": "compress",
                          "q": 65
                        }'
                        sizes="100vw"
                      >
                    </div>
                {% endfor %}

            </div>
            <div class="info">
              <div class="container">
                <div class="details">
                  <p class="desktop details"><a href="#info"><img class="desktop img-details" src="/assets/images/project-details.png">details</p></a><p class="desktop title">{{ page.name }}</p><a href="/our-work"><p class="projects">all projects<img class="img-all" src="/assets/images/project-all.png"></a></p><p class="number">1/11</p>
                </div>
              </div>
            </div>
          </section>

          <section id="info" class="project-info">
              <div class="project-info__inner description">
                <h2 class="small">{{ page.name }}</h2>
                <p class="body">{{ page.description }}</p>
              </div>
              <div class="project-info__inner stats">
                <p class="head">Date Completed</p>
                <p class="body">{{ page.date_completed }}</p>
                <p class="head">Property Size</p>
                <p class="body">{{ page.property_size }}</p>
                <p class="head">Products Used</p>
                <p class="body">{{ page.products_used }}</p>
              </div>
          </section>

          {% include global/footer.html %}

        </main>


  <!-- JS -->
  <!-- inject:js -->
  <script src="/assets/javascript/index.min.js"></script>
  <!-- endinject -->

  </body>

  {% include scripts_project.html %}

</html>
