.about {

  .hero {
    @include media($s){
      height: 330px;
      background: url("/assets/images/about-hero.jpg");
      background-size: cover;
      background-position: center;
    }
    @include media($l){
      height: 462px;
      background: url("/assets/images/about-hero.jpg");
      background-size: cover;
      background-position: center;
    }
  }

  .about-us {
    .about-us__inner-wrapper {
      @include span-columns(13);
      @include shift(1);
    }
    background-color: $about-blue;
    text-align: center;
    padding-top: em(100);
    padding-bottom: em(100);
  }

  .installation {
    text-align: center;
    @include media($s){
      padding-top: 6rem;
      margin-bottom: 6rem;
    }
    @include media($l){
      padding-top: 6rem;
      margin-bottom: 6rem;
    }
    .installation__inner-wrapper {
      @include media($s){
        @include span-columns(13 of 13);
        @include pad(0 1rem);
      }
      @include media($l){
        @include span-columns(7);
        @include shift(4);
        @include pad(0);
      }
    }
  }

  .service {
    text-align: center;
    @include media($s){
      padding-top: 6rem;
      margin-bottom: 6rem;
    }
    .service__inner-wrapper {
      @include media($s){
        @include span-columns(13 of 13);
        @include pad(0 1rem);
      }
      @include media($l){
        @include span-columns(7);
        @include shift(4);
        @include pad(0);
      }
    }
  }

  .featured {
    img {
      padding-bottom: 110px;
    }
  }

  .staff {
    background-color: $gray-light;
    padding-top: 110px;
    .staff__inner-wrapper {
      text-align: center;
      @include span-columns(13);
      @include shift(1);
      h2 {
        margin-bottom: 80px;
      }
      h4 {
        margin-bottom: 52px;
      }
      .staff__details_a {
        font-family: 'Maison Neue Medium';
        line-height: 1.7;
        color: $text;
        text-align: left;
        @include media($s){
          @include span-columns(13 of 13);
          // @include shift(1 of 13);
        }
        @include media($l){
          @include span-columns(5 of 13);
          @include shift(1 of 13);
        }
        ul {
          @include media($s){
            margin-left: 1rem;
          }
          @include media($l){
            margin-bottom: 110px;
            margin-left: 0;
          }
          li {
            font-size: 14px;
            list-style-type: disc;
            line-height: 1.7;
            margin-bottom: 1rem;
          }
        }
      }
      .staff__details_b {
        font-family: 'Maison Neue Medium';
        line-height: 1.7;
        color: $text;
        text-align: left;
        @include media($s){
          @include span-columns(13 of 13);
          // @include shift(1 of 13);
        }
        @include media($l){
          @include span-columns(5 of 13);
          @include shift(1 of 13);
        }
        ul {
          @include media($s){
            margin-left: 1rem;
          }
          @include media($l){
            margin-bottom: 110px;
            margin-left: 0;
          }
          margin-bottom: 110px;
          li {
            font-size: 14px;
            list-style-type: disc;
            line-height: 1.7;
            margin-bottom: 1rem;
          }
        }
      }
    }
  }

  .oncall {
    text-align: center;
    background-color: $about-flesh;
    padding-top: 110px;
    padding-bottom: 110px;
    .oncall__inner-wrapper {
      @include span-columns(11);
      @include shift(2);
      h2 {
        margin-bottom: 0;
      }
    }
  }


}