.automation {

  .centered-navigation ul li.nav-link a {
    color: $text;
    }

  .hero {
    @include media($s){
      height: 330px;
      background: url("/assets/images/automation-hero.jpg");
      background-size: cover;
      background-position: center;
    }
    @include media($l){
      height: 462px;
      background: url("/assets/images/automation-hero.jpg");
      background-size: cover;
      background-position: center;
    }
  }

  .automation {
    .automation__inner-wrapper {
      @include span-columns(13);
      @include shift(1);
    }
    background-color: $auto-green;
    text-align: center;
    padding-top: em(100);
    padding-bottom: em(100);
  }

  .distribution {
    text-align: center;
    @include media($s){
      padding-top: 110px;
      margin-bottom: 110px;
    }
    .distribution__inner-wrapper {
      @include media($s){
        @include span-columns(13);
        @include shift(1);
      }
      @include media($l){
        @include span-columns(7);
        @include shift(4);
      }
    }
  }

  .featured {
    img {
      padding-bottom: 110px;
    }
  }

  .video-distribution {
    text-align: center;
    background-color: $gray-light;
    img {
      padding-top: 52px;
    }
    @include media($s){
      padding-top: 110px;
      margin-bottom: 110px;
    }
    .video-distribution__inner-wrapper {
      @include media($s){
        @include span-columns(13);
        @include shift(1);
      }
      @include media($l){
        @include span-columns(7);
        @include shift(4);
      }
    }
    .container.details {
      @include media($s){
        padding-top: 80px;
        padding-bottom: 110px
      }
      @include media($l){
        padding-top: 0px;
        padding-bottom: 0px;
      }
    }
    .video-distribution__details {
      @include media($s){
        @include span-columns(13);
        @include shift(1);
        padding-top: 0px;
        padding-bottom: 52px;
        &:last-of-type {
          padding-bottom: 0px;
        }
      }
      @include media($l){
        padding-top: 52px;
        padding-bottom: 110px;
        @include span-columns(5);
        @include shift(0);
      }
      &.middle {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }

  .integration {
    text-align: center;
    @include media($s){
      // padding-top: 110px;
      margin-bottom: 110px;
    }
    .integration__inner-wrapper {
      @include media($s){
        @include span-columns(13);
        @include shift(1);
      }
      @include media($l){
        @include span-columns(7);
        @include shift(4);
      }
    }
  }

  .triple {
    padding-bottom: 110px;
    .triple__item {
      @include media($s){
        @include span-columns(13);
        @include shift(1);
        p {
          margin: 0px;
        }
      }
      @include media($l){
        @include span-columns(5);
        @include shift(0);
      }
      text-align: center;
      @include media($s){
        padding-bottom: 52px;
        &:last-of-type {
          padding-bottom: 0px;
        }
      }
      @include media($l){
        padding-bottom: 0px;
      }
      &.middle {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }

  .finishes {
    background-color: $gray-light;
    text-align: center;
    @include media($s){
      padding-top: 110px;
      padding-bottom: 110px;
    }
    .finishes__inner-wrapper {
      @include media($s){
        @include span-columns(13);
        @include shift(1);
      }
      @include media($l){
        @include span-columns(7);
        @include shift(4);
      }
    }
  }

  .meljac {
    .copy-wrapper {
      @include media($l){
        @include vertical-align;
      }
    }
    .meljac__inner-wrapper {
      padding-top: 110px;
      padding-bottom: 55px;
      .meljac__inner-wrapper_first{
        @include media($s){
          @include span-columns(13);
          @include shift(1);
          padding-bottom: 52px;
        }
        @include media($l){
          @include span-columns(6);
          @include shift(1);
        }

        text-align: center;
      }
      .meljac__inner-wrapper_last {
        @include media($s){
          @include span-columns(13);
          @include shift(1);
        }
        @include media($l){
          @include span-columns(6);
          @include shift(1);
        }
        // img {
        //   max-width: 100%;
        // }
      }
    }
  }

  .trufig {
    .copy-wrapper {
      @include media($l){
        @include vertical-align;
      }
      text-align: center;
    }
    .trufig__inner-wrapper {
      padding-top: 110px;
      padding-bottom: 55px;
      .trufig__inner-wrapper_first{
        @include media($s){
          @include span-columns(13);
          @include shift(1);
          padding-bottom: 52px;
        }
        @include media($l){
          @include span-columns(6);
          @include shift(1);
        }
        text-align: center;
      }
      .trufig__inner-wrapper_last {
        @include media($s){
          @include span-columns(13);
          @include shift(1);
        }
        @include media($l){
          @include span-columns(6);
          @include shift(1);
        }
        // img {
        //   max-width: 100%;
        // }
      }
    }
  }

  .basalte {
    .copy-wrapper {
      @include media($l){
        @include vertical-align;
      }
    }
    .basalte__inner-wrapper {
      padding-top: 110px;
      padding-bottom: 55px;
      .basalte__inner-wrapper_first{
        @include media($s){
          @include span-columns(13);
          @include shift(1);
          padding-bottom: 52px;
        }
        @include media($l){
          @include span-columns(6);
          @include shift(1);
        }

        text-align: center;
      }
      .basalte__inner-wrapper_last {
        @include media($s){
          @include span-columns(13);
          @include shift(1);
        }
        @include media($l){
          @include span-columns(6);
          @include shift(1);
        }
        // img {
        //   max-width: 100%;
        // }
      }
    }
  }

  .energy {
    text-align: center;
    @include media($s){
      padding-top: 110px;
      margin-bottom: 110px;
    }
    .energy__inner-wrapper {
      @include media($s){
        @include span-columns(13);
        @include shift(1);
      }
      @include media($l){
        @include span-columns(7);
        @include shift(4);
      }
    }
  }

  .featured {
    img {
      padding-bottom: 110px;
    }
  }

}