.cloud {

  .centered-navigation ul li.nav-link a {
    color: $text;
    }

  .hero {
    @include media($l){
      height: 462px;
      background: url("/assets/images/cloud-hero.jpg");
      background-size: cover;
    }
  }

  .cloud-services {
    .cloud-services__inner-wrapper {
      @include span-columns(13);
      @include shift(1);
    }
    background-color: $putty-light;
    text-align: center;
    padding-top: em(100);
    padding-bottom: em(100);
  }

  .wiring {
    .wiring__inner-wrapper {
      padding-top: 110px;
      padding-bottom: 55px;
      @include span-columns(13);
      @include shift(1);
      .wiring__inner-wrapper_first{
        @include span-columns(5 of 13);
        @include shift(1);
        text-align: center;
      }
      .wiring__inner-wrapper_last {
        @include span-columns(5);
        @include shift(1);
      }
    }
  }

  .wireless {
    .wireless__inner-wrapper {
      padding-top: 110px;
      padding-bottom: 55px;
      @include span-columns(13);
      @include shift(1);
      .wireless__inner-wrapper_first{
        @include span-columns(5 of 13);
        @include shift(1);
      }
      .wireless__inner-wrapper_last {
        @include span-columns(5);
        @include shift(1);
        text-align: center;
      }
    }
  }

  .cloud {
    .cloud__inner-wrapper {
      padding-top: 110px;
      padding-bottom: 55px;
      @include span-columns(13);
      @include shift(1);
      .cloud__inner-wrapper_first{
        @include span-columns(5 of 13);
        @include shift(1);
        text-align: center;
      }
      .cloud__inner-wrapper_last {
        @include span-columns(5);
        @include shift(1);
      }
    }
  }

  .installation {
    text-align: center;
    @include media($l){
      padding-top: 6rem;
      margin-bottom: 6rem;
    }
    .installation__inner-wrapper {
      @include span-columns(7);
      @include shift(4);
    }
    h2 {
    font-family: 'Noe Display';
    font-size: 26px;
    }
  }

  .service {
    text-align: center;
    @include media($l){
      padding-top: 6rem;
      margin-bottom: 6rem;
    }
    .service__inner-wrapper {
      @include span-columns(7);
      @include shift(4);
    }
    h2 {
    font-family: 'Noe Display';
    font-size: 26px;
    }
  }

  .featured {
    img {
      padding-bottom: 110px;
    }
  }

  .staff {
    background-color: $gray-light;
    padding-top: 110px;
    .staff__inner-wrapper {
      text-align: center;
      @include span-columns(13);
      @include shift(1);
      h2 {
        margin-bottom: 80px;
      }
      h4 {
        margin-bottom: 52px;
      }
      .staff__details_a {
        text-align: left;
        @include span-columns(5 of 13);
        @include shift(1);
        ul {
          margin-left: 0;
          margin-bottom: 110px;
          li {
            list-style-type: disc;
            line-height: 1.7;
            margin-bottom: 1rem;
          }
        }
      }
      .staff__details_b {
        text-align: left;
        @include span-columns(5 of 13);
        @include shift(1);
        ul {
          margin-left: 0;
          margin-bottom: 110px;
          li {
            list-style-type: disc;
            line-height: 1.7;
            margin-bottom: 1rem;
          }
        }
      }
    }
  }

  .oncall {
    text-align: center;
    background-color: $putty-basic;
    padding-top: 110px;
    padding-bottom: 110px;
    .oncall__inner-wrapper {
      @include span-columns(11);
      @include shift(2);
      h2 {
        margin-bottom: 0;
      }
    }
  }


}