.cloud {

  .hero {
    @include media($l){
      height: 462px;
      background: url("/assets/images/cloud-hero.jpg");
      background-size: cover;
    }
  }

  // .split img {
  //   @include media($s){
  //     margin-top: 80px;
  //   }
  //   @include media($l){
  //     margin-top: 0px;
  //   }
  // }

  .cloud-services {
    .cloud-services__inner-wrapper {
      @include span-columns(13);
      @include shift(1 of 13);
    }
    background-color: $cloud-peach;
    text-align: center;
    padding-top: em(100);
    padding-bottom: em(100);
  }

  .wiring {
    .copy-wrapper {
      @include media($l){
        @include vertical-align;
      }
    }
    .wiring__inner-wrapper {
      @include media($s){
       @include span-columns(13);
       @include shift(1 of 13);
       padding-top: 110px;
       padding-bottom: 110px;
      }
      @include media($l){
        @include span-columns(13);
        @include shift(1 of 13);
        padding-top: 110px;
        padding-bottom: 55px;
      }

      .wiring__inner-wrapper_first{
        @include media($s){
          padding-bottom: 80px;
        }
        @include media($l){
          @include span-columns(5 of 13);
          @include shift(1 of 13);
        }
        text-align: center;
      }
      .wiring__inner-wrapper_last {
        @include media($l){
          @include span-columns(5 of 13);
          @include shift(1 of 13);
        }
      }
    }
  }

  .wireless {
    .copy-wrapper {
      @include media($l){
        @include vertical-align;
      }
    }
    .wireless__inner-wrapper {
      @include media($s){
       @include span-columns(13);
       @include shift(1 of 13);
       // padding-top: 110px;
       padding-bottom: 110px;
      }
      @include media($l){
        @include span-columns(13);
        @include shift(1 of 13);
        padding-top: 110px;
        padding-bottom: 55px;
      }
      .wireless__inner-wrapper_first{
        @include media($s){
          padding-bottom: 80px;
        }
        @include media($l){
          @include span-columns(5 of 13);
          @include shift(1 of 13);
        }
        text-align: center;
      }
      .wireless__inner-wrapper_last {
        @include media($l){
          @include span-columns(5 of 13);
          @include shift(1 of 13);
        }
      }
    }
  }

  .cloud {
    // padding-bottom: 110px;
    .copy-wrapper {
      @include media($l){
        @include vertical-align;
      }
    }
    .cloud__inner-wrapper {
      @include media($s){
       @include span-columns(13);
       @include shift(1 of 13);
       // padding-top: 110px;
       padding-bottom: 110px;
      }
      @include media($l){
        @include span-columns(13);
        @include shift(1 of 13);
        padding-top: 110px;
        padding-bottom: 55px;
      }
      .cloud__inner-wrapper_first{
        @include media($s){
          padding-bottom: 80px;
        }
        @include media($l){
          @include span-columns(5 of 13);
          @include shift(1 of 13);
        }
        text-align: center;
      }
      .cloud__inner-wrapper_last {
        @include media($l){
          @include span-columns(5 of 13);
          @include shift(1 of 13);
        }
      }
    }
  }


}