.cloud {

  .hero {
    @include media($l){
      height: 462px;
      background: url("/assets/images/cloud-hero.jpg");
      background-size: cover;
    }
  }

  .cloud-services {
    .cloud-services__inner-wrapper {
      @include span-columns(13);
      @include shift(1);
    }
    background-color: $cloud-peach;
    text-align: center;
    padding-top: em(100);
    padding-bottom: em(100);
  }

  .wiring {
    .wiring__inner-wrapper {
      padding-top: 110px;
      padding-bottom: 55px;
      @include span-columns(13);
      @include shift(1);
      .wiring__inner-wrapper_first{
        @include span-columns(5 of 13);
        @include shift(1);
        text-align: center;
      }
      .wiring__inner-wrapper_last {
        @include span-columns(5);
        @include shift(1);
      }
    }
  }

  .wireless {
    .wireless__inner-wrapper {
      padding-top: 110px;
      padding-bottom: 55px;
      @include span-columns(13);
      @include shift(1);
      .wireless__inner-wrapper_first{
        @include span-columns(5 of 13);
        @include shift(1);
      }
      .wireless__inner-wrapper_last {
        @include span-columns(5);
        @include shift(1);
        text-align: center;
      }
    }
  }

  .cloud {
    .cloud__inner-wrapper {
      padding-top: 110px;
      padding-bottom: 110px;
      @include span-columns(13);
      @include shift(1);
      .cloud__inner-wrapper_first{
        @include span-columns(5 of 13);
        @include shift(1);
        text-align: center;
      }
      .cloud__inner-wrapper_last {
        @include span-columns(5);
        @include shift(1);
      }
    }
  }


}