.load .dynamic-hero {
  @include transition(all 0.3s ease-in);
  opacity: 0;
}

.loaded .dynamic-hero {
  @include transition(all 0.3s ease-in);
  opacity: 1;
}

section.dynamic-hero {
  position: relative;
  height: 95vh;
  background-size: cover;
  background-position: center;
  h1 {
    margin-bottom: 0;
    position: relative;
    @include media($s){
      top: 20%;
    }
    @include media($l){
      top: 35%;
    }
    &.hide {
      opacity: 0;
    }
    padding-left: 5%;
    padding-right: 5%;
    -webkit-transform: translateY(-35%);
    -ms-transform: translateY(-35%);
    transform: translateY(-35%);
  }
  img.arrow {
    width: 48px;
    height: 48px;
    position:absolute;
    left: 0;
    right: 0;
    bottom: -24px;
    margin: 0 auto;
    &.hide {
      display: none;
    }
  }
}