.footer {
  @include pad(1rem 0 0 0);
  padding-top: 5rem;
  background-color: $footer-bg;
  .footer__inner-wrapper {
    @include span-columns(11);
    @include shift(2);
    .footer__alpha, .footer__omega {
      @include span-columns(2 of 11);
      text-align: center;
      a {
        font-family: $heading-font-family;
        font-size: rem(14);
        line-height: 1.6;
        display: block;
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
      }
    }
    .footer__beta {
      @include span-columns(7 of 11);
      text-align: center;
      p {
        font-family: $heading-font-family;
        font-size: rem(14);
        line-height: 1.6;
        display: block;
        text-transform: uppercase;
        color: #fff;
        margin-top: 0px;
      }
      p.footer__address {
        margin-top: 2rem;
        margin-bottom: 4rem;
      }
      .form-group {
        .is-hidden {
          display: none;
        }
        input {
          display: inline;
          width: 50%;
          font-family: $heading-font-family;
          font-size: rem(14);
          text-transform: uppercase;
        }
        button {
          display: inline;
          margin-left: .5rem;
          border-radius: 0px;
          color: $text;
          font-weight: 300;
          background-color: $blue-basic;
          font-family: $heading-font-family;
          font-size: rem(14);
          line-height: 1;
          text-transform: uppercase;
        }
      }
    }
  }
}