.footer {
  clear: left;
  @include pad(1rem 0 0 0);
  padding-top: 5rem;
  background-color: $footer-bg;
  .footer__inner-wrapper {
    @include media($s){
      @include span-columns(13);
      @include shift(1);
    }
    @include media($l){
      @include span-columns(11);
      @include shift(2);
    }
    .footer__alpha, .footer__omega {
      @include media($s){
        @include span-columns(13);
        @include shift(1);
      }
      @include media($l){
        @include span-columns(2 of 11);
      }

      text-align: center;
      a {
        font-family: $heading-font-family;
        font-size: rem(14);
        letter-spacing: 2px;
        line-height: 1.6;
        display: block;
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
        @include media($s){
          margin-bottom: 36px;
        }
        @include media($l){
          margin-bottom: 0;
        }
      }
      a.social {
        display: inline-block;
        padding-top: .5rem;
        padding-left: 1rem;
        &.a {
          padding-left: 0;
        }
      }
    }
    .footer__beta {
      @include media($s){
        @include span-columns(13);
        @include shift(1);
      }
      @include media($l){
        @include span-columns(7 of 11);
      }
      text-align: center;
      p {
        font-family: $heading-font-family;
        font-size: rem(14);
        letter-spacing: 2px;
        line-height: 1.6;
        display: block;
        text-transform: uppercase;
        color: #fff;
        margin-top: 0px;
      }
      p.footer__address {
        margin-top: 2rem;
        margin-bottom: 4rem;
      }
      .form-group {
        .is-hidden {
          display: none;
        }
        input {
          display: inline;
          width: 50%;
          font-family: $heading-font-family;
          font-size: rem(14);
          text-transform: uppercase;
        }
        button {
          display: inline;
          margin-left: .5rem;
          border-radius: 0px;
          color: $text;
          font-weight: 300;
          background-color: $footer-blue;
          font-family: $heading-font-family;
          font-size: rem(14);
          line-height: 1;
          text-transform: uppercase;
        }
      }
    }
  }

  .footer__omega.mobile {
    margin-bottom: 44px;
  }
  .footer__alpha.mobile {
    margin-top: 80px;
    margin-bottom: 80px;
    a {
      margin-bottom: 0;
    }
  }

  .footer__address.mobile {
    @include span-columns(13);
    @include shift(1);
    font-family: $heading-font-family;
    text-align: center;
    color: #fff;
    margin-bottom: 80px;
  }

  .mobile {
    @include media($s){
      display: block !important;
    }
    @include media($l){
      display: none !important;
    }
  }
  .desktop {
    @include media($s){
      display: none !important;
    }
    @include media($l){
      display: block !important;
    }
  }


}