.home {

  .centered-navigation.bg {
    background-color: #FFF;
    ul li a {
      color: $text !important;
    }
    ul.nav-2 li a {
      border-bottom: 1px solid $text;
    }
    span, span::before, span::after {
      background-color: $text;
    }
  }

  .centered-navigation {
    span, span::before, span::after {
      background-color: #FFF;
    }
  }

  .container {
  }
  // img.logo {
  //   position: absolute;
  //   top: em(30);
  //   left: em(30);
  // }
  // .nav-link a {
  //   padding-top: em(60);
  // }

  .nav-2 li a {
    color: white;
    border-bottom: 1px solid #fff;
    &:hover {
      color: rgba(255,255,255,.8) !important;
    }
  }

  li.nav-link a {
    color: white !important;
  }

  .centered-navigation ul li.nav-link a:hover {
    color: rgba(255,255,255,.8) !important;
  }

  .mission {
    .mission__inner-wrapper {
      @include span-columns(13);
      @include shift(1);
    }
    background-color: $home-green;
    text-align: center;
    padding-top: em(100);
    padding-bottom: em(100);
  }

  .absolute {
    .container {
      padding-top: 0px;
      padding-bottom: 0px;
    }
    .absolute__inner-wrapper {
      @include media($s){
        padding-top: 110px;
      }
      @include media($l){
        padding-top: 200px;
      }
    }
    .text {
      @include media($s){
        @include span-columns(13);
        @include shift(1);
      }
      @include media($l){
        @include span-columns(5);
        @include shift(1);
      }
      text-align: left;
    }
    .image {
      @include media($s){
        @include span-columns(13);
        @include shift(1);
      }
      @include media($l){
        @include span-columns(7);
        @include shift(1);
      }
      img {
        padding-top: rem(110);
        vertical-align: bottom;
      }
    }
    h6 a {
      border-bottom: 1px solid $text;
      &:hover {
        color: $hovertext;
      }
    }
  }

  .brands {
    background-color: $gray-light;
    padding-top: 110px;
    padding-bottom: em(100);
    h2 {
      text-align: center;
      margin-bottom: 1em;
    }
    .brand {
      @include media($s){
        @include span-columns(6);
        @include shift(1);
        // @include omega(5n);
      }
      @include media($l){
        @include span-columns(3);
        @include omega(5n);
        @include shift(0);
      }
      text-align: center;
      h5 {
        padding: 1em 0;
      }
    }
  }

  .featured {
    background-color: $home-brown;
    .container {
      @include media($s){
        padding-top: 110px;
        padding-bottom: 110px;
      }
      @include media($l){
        padding-top: rem(80);
        padding-bottom: rem(80);
      }
    }
    .featured__inner-wrapper {
      @include span-columns(13);
      @include shift(1);
      .one, .two {
        @include media($s){
          @include span-columns(13 of 13);
        }
        @include media($l){
          @include span-columns(6 of 13);
        }

        text-align: center;
        img {
          height: rem(22);
        }
      }
      .one {
        @include media($s){
          margin-bottom: 80px;
        }
        @include media($l){
          margin-bottom: 0;
        }
      }
    }
  }

  .showcase {
    padding-top: rem(110);
    padding-bottom: rem(110);
    .showcase__carousel {
      @include media($s){
        @include span-columns(13);
        @include shift(1);
      }
      @include media($l){
        @include span-columns(15);
        @include shift(0);
        .gallery-cell {
          height: 500px;
        }
      }
    }
    p.caption {
      clear: both;
      // padding-top: rem(10);
      margin-bottom: 0;
      text-align: left;
      text-transform: uppercase;
      color: #ababab;
      letter-spacing: 1px;
      @include media($s){
        @include span-columns(13);
        @include shift(1);
      }
      @include media($l){
        @include span-columns(15);
        @include shift(0);
        padding-left: 1rem;
      }
      @include media(1190px){
        padding-left: 0;
      }
    }
    .flickity-page-dots {
      bottom: 30px;
    }
  }

  .testimonial {
    background-color: $home-rouge;
    text-align: center;
    padding-top: em(100);
    padding-bottom: em(70);
    .testimonial__carousel {
      @include span-columns(15);
      .testimonial__carousel__cell {
        width: 100%;
      }
      .testimonial__carousel__quote {
        @include span-columns(15);
        font-size: rem(82);
        text-align: center;
        margin-top: .5em;
        margin-bottom: 0;
        line-height: 1em;
      }
      .testimonial__copy {
        @include span-columns(13 of 15);
        @include shift(1);
      }
    }
    .flickity-prev-next-button {
      background-color: transparent;
      svg {
        // display: none;
      }
      &.previous {
        @include media($s){
          left: -7px;
        }
        @include media($m){
          left: 7px;
        }
      }
      &.next {
        @include media($s){
          right: -7px;
        }
        @include media($m){
          right: 7px;
        }
      }
    }
  }


}