.support {

  .centered-navigation ul li.nav-link a {
    color: $text;
    }

  .contact {
    .contact__inner-wrapper {
      @include span-columns(13);
      @include shift(1);
    }
    background-color: $support-plum;
    text-align: center;
    padding-top: em(100);
    padding-bottom: em(100);
  }

  .form {
    padding-top: 110px;
    padding-bottom: 110px;
    .form__info {
      @include media($s){
        @include span-columns(13);
        @include shift(1);
        text-align: center;
        padding-bottom: 80px;
        p {
            margin-bottom: 0px;
        }
      }
      @include media($l){
        @include span-columns(3);
        @include shift(2);
        text-align: left;
        padding-bottom: 0px;
      }
      p {
        margin: 0;
      }
      .digits {
        margin-bottom: 30px;
      }
      .location {
        margin-bottom: 30px;
        a {
          text-decoration: underline;
        }
      }
    }
    .form__wrapper {
      @include media($s){
        @include span-columns(13);
        @include shift(1);
      }
      @include media($l){
        @include span-columns(6);
        @include shift(2);
      }
      input {
        border: 2px solid $text;
        border-radius: 0;
        text-transform: uppercase;
        font-family: 'Maison Neue Medium';
        font-size: 14px;
        letter-spacing: 1px;
        color: $text;
        padding: 12px;
        margin-bottom: 25px;
        &:focus {
          box-shadow: none;
        }
      }
      input#room, input#device {
        @include media($s){
          @include span-columns(6 of 13);
        }
        @include media($l){
          @include span-columns(3 of 6);
        }
      }
      input#device {
        @include omega();
        @include media($s){
          @include shift(1 of 13);
        }
        @include media($l){
          @include shift(0);
        }
      }
      .intermittent, .continuous {
        @include media($s){
          @include span-columns(6 of 13);
          padding-left: 1.5rem;
        }
        @include media($l){
          @include span-columns(3 of 6);
        }
        margin-bottom: 1rem;
        label {
          text-transform: uppercase;
          font-family: 'Maison Neue Medium';
          font-size: 14px;
          letter-spacing: 1px;
          color: $text;
          @include media($s){
            padding-left: 2.5rem;
          }
          @include media($l){
          }
          font-weight: normal;
        }
        .styledRadio {
          float: left;
          background-size: 25px;
        }
      }
      .continuous {
        @include omega();
        @include media($s) {
          @include shift(1 of 13);
        }
        @include media($l) {
          @include shift(0);
        }
      }
      textarea {
        border: 2px solid $text;
        border-radius: 0;
        text-transform: uppercase;
        font-family: 'Maison Neue Medium';
        font-size: 14px;
        letter-spacing: 1px;
        color: $text;
        padding: 12px;
        min-height: 140px;
        margin-bottom: 25px;
        &:focus {
          box-shadow: none;
        }
      }
      button {
        clear: both;
        border: 2px solid $text;
        border-radius: 0;
        text-transform: uppercase;
        font-family: 'Maison Neue Medium';
        font-size: 14px;
        letter-spacing: 1px;
        background-color: $text;
        color: #fff;
        padding: 12px 1.5rem;
        margin-top: 25px;
        font-weight: normal;
      }
      .alert {
        padding: 1rem;
        margin-top: 2rem;
        background-color: $about-blue;
        font-family: 'Maison Neue Medium';
        font-size: 14px;
      }

      $background: #fff;
      $select-color: #fff;
      $select-background: #fff;
      $select-width: 100%;
      $select-height: 40px;

      .select-wrapper {
        @include media($s){
          @include span-columns(6 of 13);
        }
        @include media($l){
          @include span-columns(3 of 6);
        }
        &.second {
          @include omega();
          @include media($s){
            @include shift(1 of 13);
          }
          @include media($l){
            @include shift(0);
          }
        }
        &.area {
          @include media($s){
            @include span-columns(6 of 13);
          }
          @include media($l){
            @include span-columns(6 of 6);
            margin-bottom: 18px;
          }
        }
      }

      .select-hidden {
        display: none;
        visibility: hidden;
        padding-right: 10px;
      }
      .select {
        cursor: pointer;
        display: inline-block;
        position: relative;
        color: $select-color;
        width: $select-width;
        height: $select-height;
        border: 2px solid $text;
        text-transform: uppercase;
        font-family: 'Maison Neue Medium';
        font-size: 14px;
        letter-spacing: 1px;
        color: $text;
        padding: 12px;
      }

      .select-styled {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $select-background;
        padding: 8px 15px;
        @include transition(all 0.2s ease-in);
        &:after {
          content:"";
          width: 0;
          height: 0;
          border