.theater {

  .centered-navigation ul li.nav-link a {
    color: $text;
    }

  .hero {
    @include media($l){
      height: 462px;
      background: url("/assets/images/theater-hero.jpg");
      background-size: cover;
    }
  }

  .home-theater {
    .home-theater__inner-wrapper {
      @include span-columns(13);
      @include shift(1);
    }
    background-color: $theater-darkgreen;
    text-align: center;
    padding-top: em(100);
    padding-bottom: em(100);
  }

  .projectors {
    text-align: center;
    @include media($l) {
      padding-top: 110px;
    }
    .projectors__inner-wrapper {
      @include span-columns(7);
      @include shift(4);
    }
    .projectors__details {
      @include span-columns(5);
      padding-top: 80px;
      padding-bottom: 110px;
      &.middle {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }

  .featured {
    img {
      padding-bottom: 110px;
    }
  }

  .experts {
    text-align: center;
    background-color: $theater-putty;
    padding-top: 110px;
    padding-bottom: 110px;
    .experts__inner-wrapper {
      @include span-columns(11);
      @include shift(2);
      h2 {
        margin-bottom: 0;
      }
    }
  }

  .streamed {
    text-align: center;
    @include media($l) {
      padding-top: 110px;
    }
    .streamed__inner-wrapper {
      @include span-columns(7);
      @include shift(4);
    }
    .streamed__details {
      @include span-columns(5);
      padding-top: 80px;
      padding-bottom: 110px;
      &.middle {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }

  .surround {
    text-align: center;
    @include media($l) {
      // padding-top: 110px;
      padding-bottom: 110px;
    }
    .surround__inner-wrapper {
      @include span-columns(7);
      @include shift(4);
    }
  }

  .exceptional {
    text-align: center;
    background-color: $theater-green;
    padding-top: 110px;
    padding-bottom: 110px;
    .exceptional__inner-wrapper {
      @include span-columns(11);
      @include shift(2);
      h2 {
        margin-bottom: 0;
      }
    }
  }

}