.theater {

  .centered-navigation ul li.nav-link a {
    color: $text;
    }

  .hero {
    @include media($s){
      height: 462px;
      background: url("/assets/images/theater-hero.jpg");
      background-size: cover;
      background-position: center;
    }
  }

  .home-theater {
    .home-theater__inner-wrapper {
      @include span-columns(13);
      @include shift(1);
    }
    background-color: $theater-darkgreen;
    text-align: center;
    padding-top: em(100);
    padding-bottom: em(100);
  }

  .projectors {
    text-align: center;
    @include media($s) {
      padding-top: 110px;
    }
    .projectors__inner-wrapper {
      @include media($s){
        @include span-columns(13);
        @include shift(1);
        p {
          margin-bottom: 0;
        }
        padding-bottom: 52px;
      }
      @include media($l){
        @include span-columns(7);
        @include shift(4);
        padding-bottom: 0px;
      }

    }
    .projectors__details {
      @include media($s){
        @include span-columns(13);
        @include shift(1);
        padding-top: 0px;
        padding-bottom: 52px;
        &:last-of-type {
          padding-bottom: 110px;
        }
      }
      @include media($l){
        @include span-columns(5);
        @include shift(0);
        padding-top: 80px;
        padding-bottom: 110px;
      }
      &.middle {
        @include media($l){
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }
  }

  .featured {
    img {
      padding-bottom: 110px;
    }
  }

  .experts {
    text-align: center;
    background-color: $theater-putty;
    padding-top: 110px;
    padding-bottom: 110px;
    .experts__inner-wrapper {
      @include span-columns(11);
      @include shift(2);
      h2 {
        margin-bottom: 0;
      }
    }
  }

  .streamed {
    text-align: center;
    @include media($s) {
      padding-top: 110px;
    }
    .streamed__inner-wrapper {
      @include media($s){
        @include span-columns(13);
        @include shift(1);
        padding-bottom: 52px;
      }
      @include media($l){
        @include span-columns(7);
        @include shift(4);
      }
    }
    .streamed__details {
      @include media($s){
        @include span-columns(13);
        @include shift(1);
        padding-top: 0px;
        padding-bottom: 52px;
        &:last-of-type {
          padding-bottom: 110px;
        }
      }
      @include media($l){
        @include span-columns(5);
        @include shift(0);
        padding-top: 80px;
        padding-bottom: 110px;
        &.middle {
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }
  }

  .surround {
    text-align: center;
    @include media($s) {
      // padding-top: 110px;
      padding-bottom: 110px;
    }
    .surround__inner-wrapper {
      @include media($s){
        @include span-columns(13);
        @include shift(1);
      }
      @include media($l){
        @include span-columns(7);
        @include shift(4);
      }
    }
  }

  .exceptional {
    text-align: center;
    background-color: $theater-green;
    padding-top: 110px;
    padding-bottom: 110px;
    .exceptional__inner-wrapper {
      @include span-columns(11);
      @include shift(2);
      h2 {
        margin-bottom: 0;
      }
    }
  }

}