.work {

  .centered-navigation ul li.nav-link a {
    color: $text;
    }

  .projects {
    .projects__inner-wrapper {
      @include media($s){
        @include span-columns(13);
        @include shift(1);
      }
      @include media($l){
        @include span-columns(9);
        @include shift(3);
      }
    }
    background-color: $work-green;
    text-align: center;
    padding-top: em(100);
    padding-bottom: em(100);
  }

  .thumbnails {
    padding-bottom: 110px;
    .project {
      padding-top: 110px;
      @include media($s){
        @include span-columns(13);
        @include shift(1);
      }
      @include media($l){
        @include span-columns(6);
        @include shift(1);
        @include omega(2n);
      }
      h5 {
        margin-top: 18px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }
  }
}

.project {

  main.load {
    visibility: hidden;
  }
  main.loaded {
    visibility: visible;
  }

  .showcase {
    .info {
      background-color: $project-green;
    }
    div.details {
      // @include span-columns(9);
      // @include shift(3);
      height: 50px;
      text-align: center;
      letter-spacing: 1px;
      p {
        @include vertical-align;
        font-family: $heading-font-family;
        font-size: 14px;
        text-transform: uppercase;
        display: inline-block !important;
        &.desktop {
          @include media($s){
            display: none !important;
          }
          @include media($l){
            display: block !important;
          }
        }
        line-height: 36px;
        margin: 0;
        &.details {
          padding-right: 50px;
          border-right: 1px solid $text;
        }
        &.title {
          padding-left: 50px;
          padding-right: 50px;
          border-right: 1px solid $text;
        }
        &.projects {
          @include media($s){
            float: left;
            padding-left: 40px;
          }
          @include media($l){
            padding-left: 50px;
            padding-right: 50px;
            border-right: 1px solid $text;
          }
        }
        &.number {
          @include media($s){
            float: right;
            padding-right: 40px;
          }
          @include media($l){
            padding-left: 50px;
          }
        }
        img.img-all {
          // @include vertical-align;
          width: 20px;
          margin-left: 18px;
          margin-bottom: -2px;
        }
        img.img-details {
          // @include vertical-align;
          width: 22px;
          margin-right: 22px;
          margin-bottom: -6px;
        }
      }
    }
  }

  .flickity-prev-next-button {
    background-color: rgba(0,0,0,.3);
    width: 48px;
    height: 48px;
    path {
      fill: #fff;
    }
    &.previous {
      @include media($l){
        left: 30px;
      }
    }
    &.next {
      @include media($l){
        right: 30px;
      }
    }
  }

  .project-info {
    @include media($l){
      float: left;
    }
    .description {
      @include media($s){
        text-align: center;
        padding: 110px 40px;
      }
      @include media($l){
        float: left;
        width: 50%;
        background-color: #FFF;
        padding: 80px 9% 110px;
      }
      h2 {
        margin-bottom: .7rem;
      }
      p.body {
        margin: 0;
      }
    }
    .stats {
      background-color: $gray-light;
      @include media($s){
        text-align: center;
        padding: 110px 40px;
      }
      @include media($l){
        float: left;
        width: 50%;
        padding: 85px 9% 110px;
      }
      p.body {
        @include media($s){
          font-size: 18px;
        }
        @include media($l){
          font-size: 14px;
        }
        margin: 0 0 52px 0;
      }
      p.head {
        margin: 0;
        font-family: $heading-font-family;
        @include media($s){
          font-size: 18px;
        }
        @include media($l){
          font-size: 14px;
        }
        text-transform: uppercase;
      }
    }
  }


}