.work {

  @include media($s){
    visibility: hidden;
  }
  @include media($l){
    visibility: visible;
  }

  .centered-navigation ul li.nav-link a {
    color: $text;
    }

  .projects {
    .projects__inner-wrapper {
      @include span-columns(9);
      @include shift(3);
    }
    background-color: $work-green;
    text-align: center;
    padding-top: em(100);
    padding-bottom: em(100);
  }

  .thumbnails {
    padding-bottom: 110px;
    .project {
      padding-top: 110px;
      @include span-columns(6);
      @include shift(1);
      @include omega(2n);
      h5 {
        margin-top: 18px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }
  }
}

.project {

  @include media($s){
    visibility: hidden;
  }
  @include media($l){
    visibility: visible;
  }

  main.load {
    visibility: hidden;
  }
  main.loaded {
    visibility: visible;
  }

  .showcase {
    .info {
      background-color: $project-green;
    }
    div.details {
      // @include span-columns(9);
      // @include shift(3);
      height: 50px;
      text-align: center;
      letter-spacing: 1px;
      p {
        @include vertical-align;
        font-family: $heading-font-family;
        font-size: 14px;
        text-transform: uppercase;
        display: inline-block !important;
        line-height: 36px;
        margin: 0;
        &.details {
          padding-right: 50px;
          border-right: 1px solid $text;
        }
        &.title {
          padding-left: 50px;
          padding-right: 50px;
          border-right: 1px solid $text;
        }
        &.projects {
          padding-left: 50px;
          padding-right: 50px;
          border-right: 1px solid $text;
        }
        &.number {
          padding-left: 50px;
        }
        img.img-all {
          // @include vertical-align;
          width: 20px;
          margin-left: 18px;
          margin-bottom: -2px;
        }
        img.img-details {
          // @include vertical-align;
          width: 22px;
          margin-right: 22px;
          margin-bottom: -6px;
        }
      }
    }
  }

  .flickity-prev-next-button {
    background-color: rgba(0,0,0,.3);
    width: 48px;
    height: 48px;
    path {
      fill: #fff;
    }
    &.previous {
      left: 30px;
    }
    &.next {
      right: 30px;
    }
  }

  .project-info {
    float: left;
    .description {
      float: left;
      width: 50%;
      background-color: #FFF;
      padding: 80px 9% 110px;
      h2 {
        margin-bottom: .7rem;
      }
      p.body {
        margin: 0;
      }
    }
    .stats {
      float: left;
      width: 50%;
      background-color: $gray-light;
      padding: 85px 9% 110px;
      p.body {
        margin: 0 0 1rem 0;
      }
      p.head {
        margin: 0;
        font-family: $heading-font-family;
        font-size: 14px;
        text-transform: uppercase;
      }
    }
  }


}