---
Header_Image_path: /uploads/home-hero-min.jpg
brands:
  - Autonomic
  - Crestron
  - LG
  - Panamax Bluebolt
  - Sonus Faber
  - Bang & Olufsen
  - Digital Projection
  - Lutron
  - Panasonic
  - Sonos
  - Basalte
  - Future Automation
  - Marantz
  - Prima Cinema
  - Sony
  - Bowers & Wilkins
  - Integra
  - McIntosh
  - Rotel
  - Stewart Film Screen
  - Chief
  - James Loudspeaker
  - Meljac
  - Samsung
  - Ketra
  - Classe
  - Kaleidescape
  - Millson Custom Solutions
  - Sonance
  - Wisdom
  - Control 4
  - Lexicon
  - CinemaFrame
  - JBL Synthesis
  - Savant
  - Trufig
  - Meridian
  - Seura
  - Screen Innovations
  - Coastal Source
slides:
  - caption: Trufig recessed frame for Lutron receptacle
    slide_image_path: /uploads/home-carousel-1.jpg
  - caption: Meljac European retro light switches
    slide_image_path: /uploads/home-carousel-2.jpg
  - caption: Lutron shades with side channels
    slide_image_path: /uploads/home-carousel-3.jpg
  - caption: 'Sonos Sub and PLAY:5'
    slide_image_path: /uploads/home-carousel-4.jpg
testimonials:
  - >-
    It&rsquo;s been a pleasure to work with AVS personnel on our client&rsquo;s
    residence. Their team&rsquo;s technical breadth and depth, leadership and
    teamwork approach are very admirable traits. I hope I have the opportunity
    to work together again.
  - >-
    There is simply no other audio/video/lighting control group that I would
    entrust my clients’ homes with. The entire team—from the owners to the
    technicians in the field—possesses the decency, honesty and integrity that I
    require in order to do business.
  - >-
    My biggest positive has been the level of service after the installation was
    complete. There&rsquo;s a lot of tweaking, fine-tuning that normally happens
    (with home renovations), and AVS was right there every day, whenever we
    wanted, to adjust things.
  - >-
    When my CATV music system was giving me problems late on a Saturday night, I
    wasn&rsquo;t sure how long it would take to get it back. AVS’ programming
    team responded almost instantly. By the middle of Sunday morning everything
    was working to my satisfaction.
  - >-
    I am glad we had a chance to chat before I left, but I just want to reaffirm
    how much I appreciate all of the help, attention and support you have given
    me over the years.  I have one more thing to ask.


    Please pass along to everyone at AVS my sincerest thanks for everything you
    all have done for me.  From my very first call for help until Irving's
    service visit the week before I left, I have always felt like anyone and
    everyone there treated me as if my question or need for assistance or
    explanation was the most important thing they had to do at that moment.    I
    could always reply on the patience, understanding, professionalism and
    expertise of anyone who happened to field my calls or visit the residence. 
    I could never sing your praises enough to any colleague, co-worker or
    associate (and will continue to do so whenever the opportunity presents
    itself) and I need to make sure everyone there knows how special you were to
    me and maybe will be in the future, whatever it may hold.
---


<main class="load">

  <section class="dynamic-hero" style="background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
                    url({{ page.Header_Image_path }})">
    {% include global/header.html %}
    <h1 id="homepage-headline" class="editable">Your life. Your home. Your technology. Simplified.</h1>
    <a href="#mission"><img class="arrow" src="/assets/images/home-down.png" alt="" /></a>
  </section>

  <section id="mission" class="text mission">
    <div class="container">
      <div class="mission__inner-wrapper">
        <h4>mission</h4>
        <h2 class="editable">Audio Video Systems has been a leading audio/video source since 1977. Technology has changed, but our goal has remained the same. Simplify whole house integration and provide the best customer service.</h2>
      </div>
    </div>
  </section>
  <section class="absolute">
    <div class="container">
      <div class="text">
        <div class="absolute__inner-wrapper">
          <h2 class="editable">Control every aspect of your home from anywhere in the world.</h2>
          <h6><a href="/home-automation">Home Automation</a></h6>
        </div>
      </div>
      <div class="image">
        <img src="/uploads/home-ipad-min.png" />
      </div>
    </div>
  </section>

  <section class="brands">
    <h2 class="small">Brands</h2>
    <div class="container">
      {% for brand in page.brands %}
      <div class="brand"><h5>{{ brand }}</h5></div>
      {% endfor %}
    </div>
  </section>

  <section class="featured">
    <div class="container">
      <div class="featured__inner-wrapper">
        <div class="one">
          <img alt="" src="/uploads/lutron-logo.png" />
          <p class="editable body">We partner with Lutron Electronics to coordinate elegant lighting control systems (LCS) that fit your needs and style. Trained professionals leverage their expertise and hands-on training in LCS design to provide you with personalized lighting control.</p>
        </div>
        <div class="two">
          <img src="/uploads/sonos-logo.png" alt="" />
          <p class="editable body">The Sonos Wireless HiFi system fills your home with music. Sonos features wireless speakers and components that deliver the powerful combination of HiFi sound and rock-solid wireless in a smart system that lets you play all the music on earth from any source to any room.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="showcase">
    <div class="container">
      <div class="showcase__carousel">
         {% for image in page.slides %}
           <img ix-path="{{ image.slide_image_path }}" ix-params='{
               "auto": "compress"
             }' sizes="(min-width: 1180px) 1180px, 100vw" alt="{{ image.caption }}" />
         {% endfor %}
      </div>
      <p class="caption body">&nbsp;</p>
    </div>
  </section>

  <section class="text testimonial">
    <div class="container">
      <h4>testimonials</h4>
      <div class="testimonial__carousel">
        {% for testimonial in page.testimonials %}
            <div class="testimonial__carousel__cell">
              <h2 class="testimonial__carousel__quote">&ldquo;</h2>
              <h2 class="testimonial__copy">{{ testimonial }}</h2>
              <h2 class="testimonial__carousel__quote">&rdquo;</h2>
            </div>
        {% endfor %}
      </div>
    </div>
  </section>

</main>
