---
Header_Image_path: /uploads/lutron-hero-min.jpg
slides:
  - caption:
    image_path:
Automation_Featured_Image_path: /uploads/lutron-automation.jpg
Convenience_Featured_Image_path: /uploads/lutron-remotes.jpg
Control_Featured_Image_path: /uploads/lutron-ipad.png
Aesthetics_Featured_Image_path: /uploads/lutron-keypad.jpg
Security_Featured_Image_path: /uploads/lutron-security.jpg
---

<main class="load">

  <section class="hero" style="background-image: url({{ page.Header_Image_path }})">
  </section>

  <section class="text partnership">
    <div class="container">
      <div class="partnership__inner-wrapper">
        <img src="/uploads/lutron-logo.png" />
        <h2 class="editable">Our partnership with Lutron means we can create the perfect lighting system for any home</h2>
      </div>
    </div>
  </section>

  {% if page.slides.size > 0 %}
  <section class="showcase">
    <div class="container">
      <div class="showcase__carousel">
         {% for image in page.slides %}
           <img ix-path="{{ image.image_path }}" ix-params='{
               "auto": "compress"
             }' sizes="(min-width: 1180px) 1180px, 100vw" alt="{{ image.caption }}" />
         {% endfor %}
      </div>
      <p class="caption body">&nbsp;</p>
    </div>
  </section>
  {% endif %}

  <section class="text integration">
    <div class="container">
      <div class="integration__inner-wrapper">
        <h2 class="editable small">Integration &amp; Home Automation</h2>
        <p class="editable body">From simple incorporation into a single system to sophisticated high-level integration, we design our Lutron controls to work reliably and intuituvely with other audio, video, and HVAC systems in your home.</p>
      </div>
    </div>
  </section>

  <section class="image featured">
    <div class="container">
      <img ix-path="{{ page.Automation_Featured_Image_path }}" ix-params='{
          "fit": "max",
          "auto": "compress"
        }' , sizes="(min-width: 1180px) 1180px, 100vw" />
    </div>
  </section>

  <section class="text convenience">
    <div class="container">
      <div class="convenience__inner-wrapper">
        <h2 class="editable small">Convenience</h2>
        <p class="editable body">Our lighting systems can be controlled through a variety of devices and interfaces, including IR remote controls, wireless tabletop controls, smartphone applications or even an astronomic time clock for automatic adjustment.</p>
      </div>
    </div>
    <div class="container">
      <img ix-path="{{ page.Convenience_Featured_Image_path }}" ix-params='{
          "fit": "max",
          "auto": "compress"
        }' , sizes="(min-width: 1180px) 1180px, 100vw" />
    </div>

  </section>

  <section class="split">
    <div class="container">
      <div class="split__inner-wrapper">
        <div class="text">
          <h2 class="editable">Complete control over the atmosphere and mood of any room.</h2>
        </div>
        <div class="image">
          <img ix-path="{{ page.Control_Featured_Image_path }}" ix-params='{
              "fit": "max",
              "auto": "compress"
            }' , sizes="(min-width: 1180px) 1180px, 100vw" />
        </div>
      </div>
    </div>
  </section>

  <section class="text aesthetics">
    <div class="container">
      <div class="aesthetics__inner-wrapper">
        <h2 class="editable small">Aesthetics</h2>
        <p class="editable body">Stylish control and fabric options coupled with innovative technology elegantly transition a space to create the right amount of light for any activity.</p>
      </div>
    </div>
    <div class="container">
      <img ix-path="{{ page.Aesthetics_Featured_Image_path }}" ix-params='{
          "fit": "max",
          "auto": "compress"
        }' , sizes="(min-width: 1180px) 1180px, 100vw" />
    </div>
  </section>

  <section class="text security">
    <div class="container">
      <div class="security__inner-wrapper">
        <h2 class="editable small">Safety &amp; Security</h2>
        <p class="editable body">Our systems can easily adjust the lighting and shade position, restricting the view inside your home while you're there or when you are away.</p>
      </div>
      <img ix-path="{{ page.Security_Featured_Image_path }}" ix-params='{
          "fit": "max",
          "auto": "compress"
        }' , sizes="(min-width: 1180px) 1180px, 100vw" />
    </div>
  </section>


</main>
