<footer class="footer">
  <div class="container">
    <div class="footer__inner-wrapper">
      <div class="footer__alpha desktop">
        <p>Connect</p>
        <a class="social a" target="_blank" href="https://www.facebook.com/AudioVideoSystemsInc "><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a class="social" target="_blank" href="https://www.linkedin.com/company/2491544"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      </div>
      <div class="footer__omega mobile">
        <a href="/support">Support</a>
        <a href="/contact">Contact</a>
        <a target="_blank" href="http://www.indeed.com/cmp/Audio-Video-Systems-1">Careers</a>
      </div>
      <div class="footer__beta">
        <p>Subscribe to our Mailing List</p>
        <form id="email-list" class="form-inline" method="post" action="https://formspree.io/info@audiovideosystems.com">
          <div class="form-group">
            <input type="email" name="email" class="form-control" id="email" placeholder="email address" required>
            <!-- CONFIG -->
            <input class="is-hidden" type="text" name="_gotcha">
            <input id="_subject" class="is-hidden" type="hidden" name="_subject" value="GoodJobs Subscription">
            <!-- /CONFIG -->
            <button type="submit" class="btn btn-primary">subscribe</button>
          </div>

          <p class="footer__address desktop">&copy; <script type="text/javascript">document.write(new Date().getFullYear());</script>&nbsp;Audio Video Systems 25 Adams Court Plainview, NY 11803</p>
        </form>
      </div>
      <div class="footer__alpha mobile">
        <p>Connect</p>
        <a class="social a" target="_blank" href="https://www.facebook.com/AudioVideoSystemsInc "><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a class="social" target="_blank" href="https://www.linkedin.com/company/2491544"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      </div>
      <div class="footer__omega desktop">
        <a href="/support">Support</a>
        <a href="/contact">Contact</a>
        <a target="_blank" href="http://www.indeed.com/cmp/Audio-Video-Systems-1">Careers</a>
      </div>
      <p class="footer__address mobile">&copy; <script type="text/javascript">document.write(new Date().getFullYear());</script>&nbsp;Audio Video Systems 25 Adams Court Plainview, NY 11803</p>
    </div>
  </div>

</footer>
